
.button-menu {
    align-self: flex-end;

    margin: 25px 0;
}

button.button {
    padding: 10px 20px;

    border: none;
    border-radius: 5px;
    background: none;

    cursor: pointer;

    font-size: 16px;
}

button.button-primary {
    background-color: #00b894;
    color: white;
}
