.figure-stat {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100px;
    height: 100px;

    border: 1px solid black;

    margin: 30px 20px;
}

.figure-stat .figure-stat-name {
    position: absolute;

    top: -18px;
    left: 0;
    right: 0;

    width: 50px;

    background-color: white;

    margin: 0 auto;

    font-size: 24px;
    text-align: center;
}

.figure-stat .figure-stat-modifier {
    font-size: 48px;
}

.figure-stat .figure-stat-amount {
    position: absolute;

    bottom: -12px;
    left: 0;
    right: 0;

    width: 60px;

    border: 1px solid black;
    border-radius: 15px;
    background-color: white;

    margin: 0 auto;

    font-size: 16px;
    text-align: center;
}
