
.skill-box.box {
    position: relative;
}

.skill-box.box .skill-list {
    position: absolute;
    top: 26px;
    left: 44px;
}

.skill-box.box .box-label {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
