
.content {
    display: flex;
    justify-content: space-between;

    width: 1800px;

    padding-top: 50px;
}

.skill-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
