
.skill {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 14px 0;
}

.skill .circle {
    position: relative;
}

.skill .circle .tick {
    position: absolute;

    left: 0;
    bottom: 0;
}

.skill .value-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 20px 0 25px;
}

.skill .value-box .value {
    width: 100%;

    text-align: center;
    font-size: 24px;
}

.skill .label {
    font-size: 24px;
}

.skill .label .type {
    font-size: 24px;
    color: gray;
}
