
.alignment-picker p {
    cursor: pointer;
}

.selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    width: 450px;
    height: 450px;

    color: white;
}

.selector > span {
    line-height: 150px;
    text-align: center;

    cursor: pointer;
}

.selector .lg {
    background-color: #0984e3;
}

.selector .ln {
    background-color: #6c5ce7;
}

.selector .le {
    background-color: #e84393;
}

.selector .ng {
    background-color: #00cec9;
}

.selector .nn {
    background-color: #b2bec3;
}

.selector .ne {
    background-color: #d63031;
}

.selector .cg {
    background-color: #00b894;
}

.selector .cn {
    background-color: #fdcb6e;
}

.selector .ce {
    background-color: #e17055;
}
