
.stat-card {
    display: inline-block;
    position: relative;
}

.stat-card img {
    display: block;
}

.stat-card .label {
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;

    text-align: center;
    font-size: 24px;
}

.stat-card .value {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;

    text-align: center;
    font-size: 42px;
}

.stat-card .modifier {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;

    text-align: center;
    font-size: 116px;
}
