
.stat-bar {
    position: relative;
}

.stat-bar-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    position: absolute;

    top: 80px;
    left: 16px;
    bottom: 80px;
}
