
.level-bar {
    position: relative;

    width: 300px;
    height: 30px;
}

.level-bar .level-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 15px;

    line-height: 30px;

    color: white;
}

.level-bar .progress-bar {
    position: relative;

    appearance: none;

    width: 100%;
    height: 100%;

    background-color: #b2bec3;

    overflow: hidden;
}

.level-bar .progress-bar .progress {
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;

    background-color: #00b894;
}

.level-bar .progress-bar .progress.update-progress {
    background-color: red;
    opacity: 50%;
}

.level-bar .progress-bar .progress.max-progress {
    width: 100%;

    background: linear-gradient(110deg, #f1c40f, #e67e22, #e74c3c, #9b59b6, #3498db, #1abc9c, #2ecc71, #f1c40f);
    background-size: 300% 100%;

    animation: gradient-effect 15s linear infinite;
}

@keyframes gradient-effect {
    0%{background-position-x: 0}
    100%{background-position-x: 150%}
}
