
.header {
    position: relative;
}

.header > span {
    position: absolute;

    font-size: 24px;
}

.header .name {
    top: 210px;
    left: 250px;

    font-size: 64px;
}

.header .name-tag {
    top: 350px;
    left: 300px;

    font-size: 24px;
    font-weight: bold;
}

.header .class {
    top: 170px;
    left: 1220px;

    font-size: 36px;
}

.header .class-tag {
    top: 230px;
    left: 1220px;

    font-size: 24px;
    font-weight: bold;
}

.header .background {
    top: 170px;
    left: 1750px;

    font-size: 36px;
}

.header .background-tag {
    top: 230px;
    left: 1750px;

    font-size: 24px;
    font-weight: bold;
}

.header .player-tag {
    top: 230px;
    left: 2200px;

    font-size: 24px;
    font-weight: bold;
}

.header .race {
    top: 290px;
    left: 1220px;

    font-size: 36px;
}

.header .race-tag {
    top: 350px;
    left: 1220px;

    font-size: 24px;
    font-weight: bold;
}

.header .alignment {
    top: 290px;
    left: 1750px;

    font-size: 36px;
}

.header .alignment-tag {
    top: 350px;
    left: 1750px;

    font-size: 24px;
    font-weight: bold;
}

.header .xp {
    top: 290px;
    left: 2200px;

    font-size: 36px;
}

.header .xp-tag {
    top: 350px;
    left: 2200px;

    font-size: 24px;
    font-weight: bold;
}
