
.combat-box {
    position: relative;
}

.combat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;

    grid-row-gap: 20px;

    position: absolute;

    top: 44px;
    left: 35px;
}

.combat > div {
    display: flex;
    align-items: center;

    position: relative;
}

.combat > div .box-label {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.combat > div .box-value {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;

    text-align: center;
    font-size: 82px;
    font-weight: bold;
}

.combat > div .box-tag {
    position: absolute;
    top: 20px;
    left: 130px;

    font-size: 36px;
}

.combat .armor-class {
    grid-column: 1 / 3;
    grid-row: 1;
}

.combat .initiative {
    grid-column: 3 / 5;
    grid-row: 1;
}

.combat .speed {
    grid-column: 5 / 7;
    grid-row: 1;

    justify-content: flex-end;
}

.combat .hit-points {
    grid-column: 1 / 7;
    grid-row: 2;
}

.combat .temporary-hits {
    grid-column: 1 / 7;
    grid-row: 3;
}

.combat .hit-dice {
    grid-column: 1 / 4;
    grid-row: 4;
}

.combat .death-saves {
    grid-column: 4 / 7;
    grid-row: 4;

    justify-content: flex-end;
}
