.figure-overview {
    width: 812px;

    padding: 10px 30px;

    border-radius: 5px;
    box-shadow: 1px 2px 5px gray;
}

.figure-overview .figure-header {
    display: flex;
    flex-direction: row;
}

.figure-overview .figure-header .figure-name {
    width: 472px;

    padding: 10px 40px 10px 0;

    font-size: 48px;
}

.figure-overview .figure-header .figure-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px 0;
}

.figure-overview .figure-header .figure-details .figure-class {
    font-weight: bold;
}

.figure-overview .figure-stat-list {
    display: flex;
    flex-direction: row;
}
