
.stat-box.box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    width: 532px;
    height: 162px;
}

.stat-box.box .box-value {
    position: absolute;
    top: 22px;
    left: 0;
    width: 150px;

    text-align: center;
    font-size: 82px;
}

.stat-box.box .box-value.inspiration {
    width: 140px;
}

.stat-box.box .box-label {
    position: absolute;
    top: 65px;
    left: 120px;
    right: 0;

    text-align: center;
    font-size: 24px;
}
